.main-menu {
    w-home {
        width: 100px;
        background: red;
        //background: red;
        text-align: center;
    }
}
.w-course {
    // background: red;
    width: 90px;
}
.w-blog {
    // background: red;
    width: 90px;
    text-align: center;
}
.w.gt {
    background: red;
    width: 90px;
    text-align: center;

}